<div class="anvio-person" id="{{ person.github }}">
    <div class="anvio-person-info">
      {% if person.avatar %}
      <div class="anvio-person-photo"><img class="anvio-person-photo-img" src="/images/avatars/{{ person.avatar }}" /></div>
      {% else %}
      <div class="anvio-person-photo"><img class="anvio-person-photo-img" src="/images/avatars/no-avatar.png" /></div>
      {% endif %}
      <div class="anvio-person-info-box">
          <span class="anvio-person-name"><a href="/people/{{ person.github }}" id="anvio-person-link">{{ person.name }}</a></span>
          {% if include.with_bio %}
          <span class="anvio-person-bio">{{ person.bio }}</span>
          {% endif %}
          <div class="anvio-person-social-box">
              {% include _person_social_media_links.html %}
          </div>
        </div>
    </div>
</div>
{% if include.with_bio %}
<br />
{% endif %}
