<div class="page-author" id="{{ person.github }}">
    <div class="page-author-info">
      {% if person.avatar %}
      <div class="page-person-photo"><img class="page-person-photo-img" src="/images/avatars/{{ person.avatar }}" /></div>
      {% else %}
      <div class="page-person-photo"><img class="page-person-photo-img" src="/images/avatars/no-avatar.png" /></div>
      {% endif %}
      <div class="page-person-info-box">
          <span class="page-author-name"><i class="flag flag-united-states"></i> <i class="united states flag"></i> {{ person.name }}</span>
          {% if include.with_bio %}
          <span class="page-person-bio">{{ person.bio }}</span>
          {% endif %}
          <div class="page-author-social-box">
              {% include _person_social_media_links.html %}
          </div>
        </div>
    </div>
</div>
{% if include.with_bio %}
<br />
{% endif %}
