<hr />
<div class="social-share">
	<div class="tip">Share</div>
	<div class="share-window">
		<div class="share-bar">
            <div class="trigger"><a href="https://twitter.com/intent/tweet?text=&quot;{{ page.title }}&quot;&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fab fa-twitter"></i></a></div>
			<div class="trigger"><a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fab fa-facebook-f"></i></a></div>
			<div class="trigger"><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Shave on LinkedIn"><i class="fab fa-linkedin-in"></i></a></div>
			<div class="trigger"><a href="mailto:?&subject={{ page.title }}&body={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Shave via email"><i class="fas fa-paper-plane"></i></a></div>
		</div>
	</div>
	<div class="share">
		<div class="trigger share-btn"><a href="#"><i class="fas fa-plus"></i> Share</a></div>
	</div>
</div>
