{% if include.home %}
{% capture bgstyle %}
background-position: center; background-repeat: no-repeat; background-position-y: 27px; -o-background-size: 85px auto; -webkit-background-size: 85px auto; -moz-background-size: 85px auto; background-size: 85px auto;
{% endcapture %}
    {% for sect in site.data.sections %}
        {% if sect.content %}
        <a href="#{{ sect.slug }}" class="{{ sect.icon }}-button btn btn-outline js-scroll-trigger" >{{ sect.header }}</a>
        {% else %}
            <a href="{{ sect.target_url }}" class="{{ sect.icon }}-button btn btn-outline js-scroll-trigger" >{{ sect.header }}</a>
        {% endif %}
    {% endfor %}
{% else %}
    {% for sect in site.data.sections %}
        {% if sect.link_in_navbar %}
            {% if sect.content %}
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="/#{{ sect.slug }}">{{ sect.header }}</a>
              </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ sect.target_url }}">{{ sect.header }}</a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
