section.mainpage {
    position: relative;
    padding: 150px 0;

    border-bottom: 1px solid black;

    h2 {
        font-size: 50px;
        margin-top: 0;
    }
    .badges {
        .badge-link {
            display: block;
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0;
            }
            img {
                height: 60px;
            }
            @media(min-width: 768px) {
                display: inline-block;
                margin-bottom: 0;
            }
        }
    }
    @media(min-width: 768px) {
        h2 {
            font-size: 70px;
        }
    }
}

.cite-anvio-button {
    background: url(/images/web-icons/cite-anvio.svg);
    @include main-page-button();
}

.install-anvio-button {
    background: url(/images/web-icons/install-anvio.svg);
    @include main-page-button();
}

.anvio-programs-and-artifacts-help-button {
    background: url(/images/web-icons/anvio-programs-and-artifacts-help.svg);
    @include main-page-button();
}

.learn-anvio-button {
    background: url(/images/web-icons/learn-anvio.svg);
    @include main-page-button();
}

.anvio-community-button {
    background: url(/images/web-icons/anvio-community.svg);
    @include main-page-button();
}

.anvio-community-blog-button {
    background: url(/images/web-icons/anvio-community-blog.svg);
    @include main-page-button();
}

.omics-vocabulary-button {
    background: url(/images/web-icons/omics-vocabulary.svg);
    @include main-page-button();
}

.-button {
    background: url(/images/web-icons/.svg);
    @include main-page-button();
}

.anvio-in-a-nutshell-button {
    background: url(/images/web-icons/anvio-in-a-nutshell.svg);
    @include main-page-button();
}
