.anvio-person {
  display: inline-block;
}

.anvio-person-mini {
  display: inline-block;
}
.authored {
  margin-bottom: 0px;
  line-height: 1.2em;
}

.centerimg {
  text-align: center;
  margin-bottom: 1em;
}

.center-img {
  margin: 0 auto;
  margin-bottom: 1em;
  margin-top: 1em;
  display: block;
}

.extra-info {
    width: 94%;
    margin: 25px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    background: aliceblue;
}

.extra-info-header {
    border-bottom: 1px solid gray;
    display: block;
    margin-bottom: 10px;
    font-variant: small-caps;
    font-weight: bold;
}

.mini-contributions-header-within-persons-info-display {
    border: 1px solid black;
    border-radius: 5px;
    background: #d8eded;
    padding: 3px;
    padding-left: 7px;
    font-size: smaller;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 900px;
}


.anvio-person-info {
    display: inline-table;
    float: left;
    background: linear-gradient(90deg, white, #efefef);
    border-radius: 10px;
    border: 1px solid #bcbcbc;
    padding-top: 5px;
    margin-bottom: 15px;
    margin-top: 10px;
    @include dropshadow();

    p {
        font-size: 90%;
        font-style: italic;
    }
    a, a:hover {
        font-size: 80%;
        border-bottom: 0 solid transparent;
        color: black;
    }
}

.anvio-person-name {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    color: #323232;
    font-size: 1.4em;
    line-height: 1.0833;
}

#anvio-person-link {
    color: black;
    font-size: 1em;
    color: #323232;
}

.person-affiliations {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 20px;
  padding: 5px;
  font-size: 1em;
  font-family: HelveticaNeue-Thin;
  border: 1px dashed #e4e4e4;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #fbfbfb;
}

.person-affiliations li:before {
    content: "»";
    padding-right: 5px;
}

#aff-link {
    font-size: 1em;
    color: #1111AA;
}

.person-contributions {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 20px;
  padding: 5px;
  font-size: 1em;
  font-family: "PT Sans Narrow",sans-serif;
  border: 1px dashed #e4e4e4;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #f1fbfb;
}

.person-contributions li:before {
    content: "✍️";
    padding-right: 5px;
}

#contrib-link {
    font-size: 1.25em;
    color: #333332;
}

.person {
    min-height: 150px;
    margin-bottom: 10px;
    border-bottom: 1px solid #F4F4F4;
}

.person-role {
  font-weight: lighter;
  opacity: .5;
}

.person-info {
    margin-right: 30px;
    h3 {
        margin-bottom: 0;
    }
    p {
        font-style: italic;
        padding-left: 140px;
        margin-bottom: 12px;
        margin-top: 12px;
        color: #a7a7a7;
    }
    a {
        color: #a7a7a7;
    }
}

.person-info-text a {
    color: #4b4b8e;
}

.person-current-info {
    text-decoration: underline;
}

.persons-title {
  font-size: xx-large;
  font-variant: small-caps;
  margin-top: 65px;
  border-bottom: 1px solid black;
}

.person-photo {
    float: left;
    min-width: 120px;
    width: 120px;
    @media #{$micro} {
        display: none;
    }
    @media #{$small} {
        display: none;
    }
    @media #{$medium} {
    display: -webkit-box;
    }
    @media #{$large} {
    display: -webkit-box;
    }
    @media #{$x-large} {
    display: -webkit-box;
    }
}

.person-photo-img {
    @include rounded(150px);
    max-width: 110px;
    height: 110px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    @media #{$small} {
        @include rounded(100px);
    }
    @media #{$x-large} {
    }
}

.anvio-person-info-box {
    float: right;
}

.anvio-person-info-box-mini {
    float: right;
}

.anvio-person-photo {
    float: left;
    min-width: 50px;
    width: 50px;
    padding-left: 5px;

    @media #{$micro} {
        display: none;
    }
    @media #{$small} {
        display: none;
    }
    @media #{$medium} {
    display: -webkit-box;
    }
    @media #{$large} {
    display: -webkit-box;
    }
    @media #{$x-large} {
    display: -webkit-box;
    }
}

.anvio-person-photo-img {
    border-radius: 150px !important;
    max-width: 50px;
    height: 50px;
    border: none !important;
}

.anvio-person-mini-info-text {
    display: inline-block;
}

.anvio-person-photo-img-mini {
    border-radius: 150px !important;
    max-width: 30px !important;
    height: 22px !important;
    border: none !important;
    margin-right: 3px;
}

.anvio-person-social-box {
    border-top: 1px solid #e2e2e2;
    margin: 5px;
    margin-top: 3px;
    padding-top: 2px;
}

.person-stand-alone-program-contributions {
    text-align: left !important;
}

.person-stand-alone-social-box {
    font-size: 14px;
    margin-top: -30px;
    margin-left: 10px;

    @include addgradient($reverse: false);
    @include dropshadow();

    border-radius: 10px;
    padding: 5px;
}

.person-stand-alone-photo > .person-stand-alone-photo-img {
    border: 1px black solid;
}

.person-stand-alone-photo {
    width: 50%;
    margin: auto;
    margin-top: 25px;

    @media (max-width: 800px) {
        width: 90%;
    }

    @media (max-width: 1000px) {
        width: 75%;
    }
}

.anvio-people {
    text-align: left;
    margin-top: 30px;
}

.anvio-people > .anvio-person {
    margin: 4px;
}

.anvio-people > .anvio-person > .anvio-person-info > .anvio-person-info-box {
    padding-left: 65px;
    float: revert;
}


.anvio-people > .anvio-person > .anvio-person-info > .anvio-person-info-box > .anvio-person-bio {
    display: block;
    padding: 0px 6px;
}

#current-affiliation {
    color: green;
    vertical-align: text-bottom;
}

#past-affiliation {
    color: red;
    vertical-align: text-bottom;
}
