.pub_float {
    margin: auto;
    margin-bottom: 20px;
    font-family: "PT Serif",serif;
    box-shadow: 4px 4px 14px 1px #ccc;
    width: 90%;
    border: 1px solid #bcbcbc;
    border-radius: 14px;
    padding: 5px;
    background-image: linear-gradient(#f4f4f4, #efefef);
    h3 {
        margin-bottom: 6px;
        margin-top: 5px;
        margin-left: 9px;
    }
    p {
        font-size: 90%;
        font-style: italic;
    }
    a, a:hover {
        font-size: 80%;
        border-bottom: 0 solid transparent;
    }
}


.pub {
    margin-bottom: 30px;
    font-family: "PT Serif",serif;
    p {
        font-size: 90%;
        font-style: italic;
    }
    a, a:hover {
        font-size: 80%;
        border-bottom: 0 solid transparent;
    }
}

.pub-title {
    text-align: left;
    font-size: 1.8em;
    font-family: "PT Sans Narrow",sans-serif;
    font-weight: bold;
    line-height: 20px;
    display: block;
    padding: 5px;
    padding-left: 8px;
    padding-bottom: 9px;
    border-left: 10px solid #d4d4d4;
}

.pub_float .pub-title {
    border-left: none;
}

.pub-authors {
    display: block;
    width: 95%;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 4px;
    font-variant: small-caps;
    color: rgb(102, 102, 102);
}

.pub_float .pub-authors {
    padding-left: 8px;
}

.pub-co-first-authors {
    text-align: left;
    display: block;
    width: 95%;
    padding-left: 25px;
    margin-bottom: 5px;
    margin-top: -10px;
    color: #717171;
    font-size: smaller;
    font-style: italic;
}

.pub_float .pub-co-first-authors {
    text-align: left;
    padding-left: 12px;
}

.pub-member-author {
    color: black;
    font-weight: bolder;
}

.pub-journal {
    background-image: linear-gradient(to right, #fafafa, #d4d4d4);
    display: block;
    text-align: right;
    border: 1px #f4f4f4 solid;
    border-radius: 10px;
    margin-left: 20px;
    padding: 4px;
    padding-right: 14px;
    font-size: small;
}

.pub_float .pub-journal {
    margin-left: 8px;
    background-image: none;
    border: none;
}

.pub-info {
    background-image: linear-gradient(to left, #fefff0, white);
    border: 1px #f4f4f4 solid;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:20px;
    border-radius: 10px;
    padding: 4px;
    font-size: small;
    min-height: 100px;
}

.pub_float .pub-info {
    margin-left: 8px;
    margin-right: 8px;
    background: white;
    border: 1px #bcbcbc solid;
}

.pub-info-no-image {
    background-image: linear-gradient(to left, #fefff0, white);
    border: 1px #f4f4f4 solid;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:20px;
    border-radius: 10px;
    padding: 4px;
    padding-right: 14px;
    font-size: small;
}

.pub_float .pub-info-no-image {
    margin-left: 8px;
}

.pub-featured-image {
  width: 100px;
  padding: 5px;
  float: left;
}

.pub-highlights {
    padding-left: 115px;
}

.pub-highlights a, .pub-highlights-no-image a, .pub-highlights a:hover, .pub-highlights-no-image a:hover {
        font-size: 100%;
        text-decoration: underline;
    }


.pub-highlights-no-image {
    padding-left: 5px;
}

.learning-resource {
    margin: auto;
    margin-bottom: 20px;
    text-align: left;
    box-shadow: 4px 4px 14px 1px #ccc;
    width: 90%;
    border: 1px solid #bcbcbc;
    border-radius: 14px;
    padding: 5px;
    background-image: linear-gradient(#f4f4f4, #efefef);

    h3 {
        margin-bottom: 6px;
        margin-top: 5px;
        margin-left: 9px;
    }
    p {
    }
    a, a:hover {
        border-bottom: 0 solid transparent;
    }
}

.learning-resource-title {
    display: block;
    font-size: 21px;
    padding-left: 4px;
    padding-bottom: 4px;
}

.learning-resource-authors {
    display: block;
    padding: 2px;
    padding-left: 4px;
    border: 1px solid #DDD;
    border-radius: 8px;
    background-image: linear-gradient(90deg, #dedede, #efefef);
    margin-left: 6px;
}

.learning-resource-authors > a {
    color: black !important;
}

.content-author-mini-link-name {
    display:inline-block;
    vertical-align: middle;
    font-size: small;
}

.learning-resource-summary {
    padding: 5px;
    padding-left: 25px;
    display: block;
    font-size: 15px;
    color: #4a4a4a;
}

.learning-resource-tags {
    display: flex;
    justify-content: right;
    padding-right: 13px;
    padding-top: 2px;
    margin-bottom: -3px;
    margin-left: -6px;
    margin-right: -5px;
    border-top: 1px dashed #dbdbdb;
}

.tags {
    border: 1px solid #d7d7d7;
    padding: 0px 3px;
    border-radius: 3px;
    margin-left: 5px;
    font-size: 10px;
}
