table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    font-family: monospace;
    margin-bottom: 2em;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  font-family: monospace;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

table.js-file-line-container tr {
    border: 0px;
}

th, td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}
