#beginner {
    background-color: #c0edc0;
}

#intermediate {
    background-color: #ede3c0;
}

#advanced {
    background-color: #edc0c0;
}

#metagenomics {
    background-color: #c1ddf5;
}

#pangenomics {
    background-color: #c1ddf5;
}

#microbial_population_genetics {
    background-color: #c1ddf5;
}

#metabolism {
    background-color: #c1ddf5;
}

#metabolic_enrichment {
    background-color: #c1ddf5;
}

#genomics {
    background-color: #c1ddf5;
}

#viruses {
    background-color: #c1ddf5;
}

#structural_biology {
    background-color: #c1ddf5;
}

#binning {
    background-color: #c1ddf5;
}
