/* TOC trigger for collapsing */
#drawer {
    max-height: 100%;
    overflow: hidden;
    &.js-hidden {
        max-height: 0;
    }
}

/* Image grid - not used */
.image-grid {
    @include clearfix;
    list-style: none;
    margin: 0 0 1em;
    padding: 0;
    li {
        @include grid(12,6);
        @media #{$micro} {
            width: 33.333333%;
        }
        @media #{$small} {
            width: 25%;
        }
        @media #{$medium} {
            width: 20%;
        }
        @media #{$large} {
            width: 16.666666666%;
        }
    }
}

.toc {
    max-height: calc(100% - 4em);
    overflow-y: auto;
    font-size: 95%;
    box-shadow: 6px 12px 34px 7px #909090;
    margin-bottom: 40px;
    background-color: #8A8A8A;
    @media #{$large} {
        width: 16%;
        position: fixed;
        top: 7em;
        right: 2em;
    }
    header {
        background: #234C71;
        padding: 5px;
    }
    h3 {
        margin: 0;
        border: none;
        color: $white;
        @include font-rem(16);
        text-transform: uppercase;
        &:hover {
            cursor: pointer;
        }
    }
    ul {
        margin: 2px 0 0;
        padding: 0;
        line-height: 1;
    }
    li {
        display: block;
        margin: 0 0 1px 0;
        font-family: $heading-font;
        list-style-type: none;
        &:last-child {
            border-bottom-width: 0;
        }
        a {
            padding: 10px;
            display: block;
            color: $white;
            outline:none;
            text-decoration: none;
            background: lighten($black, 30);
            opacity: 0.7;
            @include transition(opacity 0.2s ease-in-out);
            &:hover {
                opacity: 1.0;
            }
        }
        a.header-active {
            background-color: #152e44;
        }
        ul {
            margin: 1px 0 0;
            li a {
                padding-left: 20px;
            }
        }
    }
}

#toc-header {
    background: none !important;
}

#markdown-toc a {
    color: white;
}

.li-level-2 {
    background: #323232;
    padding: 0px 5px 0px 0px !important;
}

.li-level-3 {
    background: #9d9d9d;
    padding: 0px 5px 0px 10px !important;
}

.li-level-4 {
    background: #b0b0b0;
    padding: 0px 5px 0px 20px !important;
}

.li-level-5 {
    background: #e0e0e0;
    padding: 0px 5px 0px 30px !important;
}

