p code, li code {
    font-size: .90rem;
    white-space: nowrap;
    padding: 2px 3px;
    margin: 2px 2px;
    background-color: #efefef;
    border: 1px solid #cecece;
    color: #484848;
    border-radius: 3px;
}
