<div style="display: flex; align-item:center; align-content: center; margin-bottom: 20px; justify-content: center;">
  <a href="/install/macos/dev/" target="_blank" style="margin-right: 30px; text-align: center;"><i class="fa-brands fa-apple fa-5x"><span class="emoji-icon power-emoji"></span></i><p style="text-align: center;">MACOS</p></a>
  <a href="/install/linux/dev/" target="_blank" style="margin-right: 30px; text-align: center;"><i class="fa-brands fa-linux fa-5x"></i><span class="emoji-icon power-emoji"></span><p style="text-align: center;">LINUX</p></a>
  <a href="/install/windows/dev/" target="_blank" style="margin-right: 30px; text-align: center;"><i class="fa-brands fa-windows fa-5x"></i><span class="emoji-icon power-emoji"></span><p style="text-align: center;">WINDOWS</p></a>
</div>
