<!doctype html>
<html lang="en">

{% include _header.html %}

<div class="container text-center article">
  <div class="row">
    <div class="col-md-10 my-auto">

      <h1>{{ page.title }}</h1>

      <p style="font-size: 90%;">This page lists blog posts written by the members of the anvi'o community and is open to anyone who wishes to share anything on their mind that is even remotely relevant to the rest of the anvi'o community.

      <hr />

      {% for post in site.posts %}
          {% include _post_ad_template.html %}
      {% endfor %}

    </div>
  </div>
</div>

{% include _footer.html fixed_footer="true" %}
