{% if person.web %}<a href="{{ person.web }}" class="person-social" target="_blank"><i class="fas fa-fw fa-house"></i>Web</a>{% endif %}
{% if person.email %}<a href="mailto:{{ person.email }}" class="person-social" target="_blank"><i class="fas fa-fw fa-envelope"></i>Email</a>{% endif %}
{% if person.twitter %}<a href="http://twitter.com/{{ person.twitter }}" class="person-social" target="_blank"><i class="fab fa-fw fa-twitter"></i>Twitter</a>{% endif %}
{% if person.github %}<a href="http://github.com/{{ person.github }}" class="person-social" target="_blank"><i class="fab fa-fw fa-github"></i>Github</a>{% endif %}
{% if person.linkedin %}<a href="http://linkedin.com/in/{{ person.linkedin }}" class="person-social" target="_blank"><i class="fab fa-fw fa-linkedin"></i> LinkedIn</a>{% endif %}
{% if person.orcid %}<a href="https://orcid.org/{{ person.orcid }}" class="person-social" target="_blank"><i class="fab fa-fw fa-orcid"></i> ORCiD</a>{% endif %}
